<section>
{% if shop.name == "urban-jungle-dev" %}
    <h1>hello world from UJ</h1>
{% else %}
    <h1>hello world from Hudson Store</h1>
{% endif %}
</section>

{% schema %}
{
"name":"Banner",
"settings":[],
"presets":[
    {"name": "banner"}
]
}
{% endschema %}